!!!
html(ng-app="campaignFinanceApp")
	head
		meta(charset='utf8')
		base(href='/')
		title Campaign-Finance
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
	body
		block body